* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.40);

  .header-wrapper {
    width: 96.875vw;
    display: flex;
    align-items: center;
    margin: 0 auto;

    .logo {
      width: 3.385vw;
      height: 4.167vw;
      margin-right: 1.406vw;
    }

    #menu__toggle {
      display: none;
  }
  
  /* стилизуем кнопку */
  .menu__btn {
      display: flex;
      /* используем flex для центрирования содержимого */
      align-items: center;
      /* центрируем содержимое кнопки */
      position: absolute;
      left: 7.906vw;
      width: 1.903vw;
      height: 1.903vw;
      cursor: pointer;
      z-index: 2;
  }
  
  /* добавляем "гамбургер" */
  .menu__btn>span,
  .menu__btn>span::before,
  .menu__btn>span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 0.146vw;
      background-color: #000000;
      transition: 0.3s;
  }
  
  .menu__btn>span::before {
      content: '';
      top: -0.586vw;
  }
  
  .menu__btn>span::after {
      content: '';
      top: 0.586vw;
  }
  
  #menu__toggle:checked~.menu__btn>span {
      transform: rotate(45deg);
  }
  
  #menu__toggle:checked~.menu__btn>span::before {
      top: 0;
      transform: rotate(0);
  }
  
  #menu__toggle:checked~.menu__btn>span::after {
      top: 0;
      transform: rotate(90deg);
  }
  
  /* контейнер меню */
  .menu-box {
      border-radius: 0.732vw;
      display: flex;
      position: absolute;
      visibility: hidden;
      width: 66.25vw;
      height: 30.5vw;
      margin: 0;
      top: 2.798vw;
      left: 7.906vw;
      list-style: none;
      background-color: #ECEFF1;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      transition: 0.3s;
      opacity: 0%;
  }
  
  .menu-box ul {
      display: flex;
      padding: 0;
  }
  
    /* элементы меню */
  .menu__item {
      display: block;
      color: #000;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      font-size: 1.025vw;
      text-decoration: none;
      transition: background 0.3s;
  }
  
  .menu__item:hover {
      background-color: #CFD8DC;
  }
    
  #menu__toggle:checked ~ .menu-box {
      visibility: visible;
      top: 6.589vw;
      opacity: 100%;
  }
  
  .menu-box ul li {
      width: 30.928vw;
      list-style-type: none;
  }
  
  }
}